button.fav {
    $icon-font-size: 1.5em;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    width: 100%;
    border: none;
    background-color: transparent;
    
    .icon {

        position: absolute;
        top: $padding;
        right: 0;
        transform: translate(-50%, -50%);
        margin: 0;
        font-size: $icon-font-size;
        -webkit-text-stroke-width: em(1);
        -webkit-text-stroke-color: $text-color-med;
        -webkit-text-fill-color: transparent;

        &.fav {
            -webkit-text-fill-color: $text-color-med;
        }
    }

    .text {
        @include visually-hidden;
    }
}