.movie-card {
    position: relative;
    padding: 0;
    width: 100%;
    grid-column-start: auto;
    background-color: #{$brand-color-02};
    border-radius: $border-radius;
    cursor: pointer;
    
    #{$link-hover-selector} {
        .movie-info {
            display: block;
            position: absolute;
            top: 0;
            right: 0;   
            bottom: 0;  
            left: 0;
            background-color: $brand-color-02-transparent;
            border-radius: $border-radius;
        }
    }
}