.movie {
    $max-width-img: em(300);

    img {
        max-width: $max-width-img;
    }

    .info {
        @include mq($tablet) {
            @include flex;
            align-items: flex-start;
            
            .overview {
                flex: 1;

            }
    
            .movie-poster {
                padding-right: $padding;
                order: -1;
            }
        }
    }
}